# Set these environment variables in Docker Environment
#   or via passed in .env file to /app/.env
textbelt_api_token="<<textbelt_token_here>>"
textbelt_phone_number="+15558675309"
textbelt_organization_name="The Company"
network_monitor_target="9.9.9.9"
# Timers are in Seconds
successful_timer=15
error_timer=300
### Docker(Compose) only ENV var
docker_mount_point="/tmp/data"